@model EquipmentManager.Models.Assignment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColleagueId" class="control-label"></label>
                <input asp-for="ColleagueId" class="form-control" />
                <span asp-validation-for="ColleagueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <input asp-for="EquipmentId" class="form-control" />
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestingDepartment" class="control-label"></label>
                <input asp-for="RequestingDepartment" class="form-control" />
                <span asp-validation-for="RequestingDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedBy" class="control-label"></label>
                <input asp-for="AssignedBy" class="form-control" />
                <span asp-validation-for="AssignedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedDate" class="control-label"></label>
                <input asp-for="AssignedDate" class="form-control" />
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnassignedBy" class="control-label"></label>
                <input asp-for="UnassignedBy" class="form-control" />
                <span asp-validation-for="UnassignedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnassignedDate" class="control-label"></label>
                <input asp-for="UnassignedDate" class="form-control" />
                <span asp-validation-for="UnassignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
